.faq {
	padding-bottom: 50px;
}

.content {
	display: grid;
	grid-template-columns: 1fr auto;
}

.content > h2 {
	padding-bottom: 30px;
}

@media (max-width: 678px) {
	.content {
		grid-template-columns: 1fr;
	}
}
