.button {
	border: 1px solid var(--primary);
	border-radius: 20px;
	cursor: pointer;
	font-size: 11px;
	padding: 10px 22px;
	text-transform: uppercase;
	transition: var(--duration);
}

.contained {
	background: var(--primary);
	color: var(--grey-light);
}

.outlined {
	background: transparent;
	color: var(--primary);
}

.button:hover {
	background: var(--button-hover);
	border-color: var(--button-hover);
	color: var(--grey-light);
}
