.newsItem {
    max-width: 750px;
    min-width: 290px;
    padding: 34px 44px;
    border-radius: 25px;
    background: var(--grey-light);
}

@media (max-width: 768px) {
    .newsItem {
        padding: 20px;
    }
}

.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    gap: 20px;
}

@media (max-width: 768px) {
    .head {
        padding-bottom: 30px;
    }
}

.head > h3 {
    max-width: 400px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.content > p {
    max-width: 270px;
}
