.news {
	background: var(--grey-light);
	border-radius: 25px;
	max-width: 750px;
	min-width: 290px;
	padding: 34px 44px;
}

@media (width <= 768px) {
	.news {
		padding: 20px;
	}
}

.head {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	padding-bottom: 60px;
}

@media (width <= 768px) {
	.head {
		padding-bottom: 30px;
	}
}

.head > h3 {
	max-width: 400px;
}

.content {
	align-items: end;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.content > p {
	max-width: 270px;
}
