.protocol {
	padding-bottom: 100px;
}

.content {
	background: var(--grey-light);
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	padding: 90px 45px;
}

@media (max-width: 678px) {
	.content {
		flex-direction: column;
		gap: 40px;
	}
}

.content h3 {
	max-width: 125px;
}

.content > div {
	display: grid;
	gap: 130px 90px;
	grid-template-columns: 1fr auto;
}

@media (max-width: 878px) {
	.content > div {
		gap: 30px;
		grid-template-columns: 1fr;
	}
}

.stats p {
	font-size: 52px;
	line-height: 66px;
}
