.content {
	align-items: center;
	display: flex;
	gap: 40px;
	height: 60px;
	justify-content: flex-end;
}

@media (width <= 768px) {
	.content {
		justify-content: space-between;
	}
}

.mobile {
	display: none;
}

@media (width <= 768px) {
	.mobile {
		display: block;
	}
}

@media (width <= 768px) {
	.desktop {
		display: none;
	}
}
