.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    height: 60px;
}

@media (max-width: 768px) {
    .content {
        justify-content: space-between;
    }
}

.mobileMenu {
    display: none;
}

@media (max-width: 768px) {
    .mobileMenu {
        display: block;
    }
}

@media (max-width: 768px) {
    .desktopMenu {
        display: none;
    }
}
