.participate {
	background: var(--purple);
	max-width: 545px;
	padding: 36px 44px;
}

.head {
	display: grid;
	grid-template-columns: 1fr auto;
}

.head h3 {
	padding-top: 100px;
}

.content {
	padding-top: 26px;
}

.content a span {
	display: inline-block;
	line-height: 10px;
	vertical-align: top;
}

.left {
	border-radius: 25px 0 0 25px;
}
