:root {
    --primary: rgba(20, 23, 34, 1);
    --grey-light: rgba(239, 233, 224, 1);
    --button-hover: rgba(34, 39, 60, 1);
    --duration: all 0.3s ease;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
