:root {
    --primary: rgba(20, 23, 34, 1);
    --grey-light: rgba(239, 233, 224, 1);
    --button-hover: rgba(34, 39, 60, 1);
    --grey: rgba(126, 126, 126, 1);
    --purple: rgba(121, 131, 153, 1);
    --duration: all 0.3s ease;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
}

li {
    list-style: none;
}
