.button {
	background: transparent;
	border: none;
	cursor: pointer;
	height: 30px;
	position: relative;
	width: 30px;
}

.line1,
.line2,
.line3 {
	background: var(--background);
	height: 2px;
	left: 0;
	position: absolute;
	transition: var(--duration);
	width: 100%;
}

.line1 {
	top: 0;
}

.line2 {
	top: 50%;
	transform: translateY(-50%);
}

.line3 {
	bottom: 0;
}

.active .line2 {
	height: 0;
}

.active .line1 {
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(45deg);
}

.active .line3 {
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(-45deg);
}

.menu {
	background: var(--background);
	border-radius: 0 0 0 25px;
	box-shadow: 0 0 2px 2px var(--background);
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: var(--duration);
	z-index: 100;
}

.open {
	transform: translateX(0);
}
